.loader {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.footer {
  height: 100px;
  width: 100%;
}

.api-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: space-evenly;
}

.product-container {
  padding: 1rem;
  border: 2px solid black;
  margin: 1rem;
  border-radius: 10px;
  height: 350px;
}

.product-container img {
  height: 60%;
  width: 100%;
  object-fit: contain;
}

.price-category-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

.category {
  font-size: 1rem;
  font-style: italic;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
